{
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": [
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@avo/(.*)$",
    "^(.*).module(.*)$",
    "^(.*).entity(.*)$",
    "^(.*).service(.*)$",
    "^(.*).serialization(.*)$",
    "^(.*).decorator(.*)$",
    "^(.*).dto(.*)$",
    "^@/(.*)$",
    "^[..*/]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSeparation": true,
  "singleQuote": true,
  "trailingComma": "all"
}
